@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz@8..60&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Source Serif 4', serif;
  background: #ffffe9;
}

nav .up {
  height: 53px;
  width: 100%;
  background-color: #cbcda9;
}


nav ul {
  display: flex;
  list-style: none;
  margin: 25px auto;
  width: 290px;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  margin: 0 20px;
}
a:hover {
  opacity: 0.7;
}
.active {
  font-weight: bold;
}



.us {
  font-size: 66px;
  font-weight: 900;
  font-family: serif;
  text-align: center;
  margin-top: 60px;
}
p {
  text-align: center;
  max-width: 500px;
  margin: 30px auto;
}


.focus {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto;
  align-items: center;
  background: #201F1F;
  border-radius: 5px;
  bottom: 500px;
}
form {
  width: 350px;
  margin: 40px 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
form *{
display: block;
color: #CCC6C6;
;
}
.focus h1 {
  font-size: 32px;
  text-align: left;
  font-family: serif;
  font-weight: 300;
  margin-bottom: 25px;
  color: #fff;
}

input {
  width: 350px;
  height: 42px;
  padding: 0 5px;
  margin: 5px 0 15px 0;
  border-radius: 3px;
  background: #343333;
  border: 1px solid #8D8D8D;
  color:  #8D8D8D;
}
#message {
  height: 70px;
}
.focus img {
  max-width: 350px;
  border-radius: 0 5px 5px 0;
  margin: 0px auto;
}
.focus button {
  background: #F3F25B;
padding: 9px 25px;
color: #000;
border: none;
border-radius: 2px;
cursor: pointer;
}
.focus button:hover {
  background: #f3f35bee;
  
}

footer{
  height: 1px;
}